doctype html
html
	include ../views/head.pug
	body
		header.header
			.container
				.row
					.header__logo git-test
					ul.header__menu
						li 
							a(href="#") link
						li
							a(href="#") link 1
						li 
							a(href="#") link
						li 
							a(href="#") link
						li 
							a(href="#") link
		main
			.slider
				.container 
					.row
						h1 Hello!
			section
				.container
						h1 Title
						.items
							.item
								.item__icon
								.item__txt 123
							.item
								.item__icon
								.item__txt 123
							.item
								.item__icon
								.item__txt
							.item
								.item__icon
								.item__txt 123

	include ../views/footer.pug
	