@import __var.sass
@import __reset.sass
@import __grid.sass

body 
	font: 14px $font-main
	color: $color-darkGray
h1
	font: 44px $font-ui
	color: $color-darkBlue
	margin-bottom: 25px
h2 
	font: 26px $font-ui
	color: $color-darkBlue
	margin-bottom: 15px
section
	padding: 80px 0
a
	transition: all .25s ease-in-out
	text-decoration: none
	color: inherit
	&:hover
		opacity: .6
p
	line-height: 28px
	margin-bottom: 25px
.container
	position: relative
	max-width: 1360px
	width: 100%
	margin: 0 auto
	padding: 0 30px
.row
	display: flex
	flex-wrap: wrap
	margin: 0 -30px
.btn
	display: block
	max-width: 300px
	font-family: $font-ui
	font-weight: bold
	color: $color-darkBlue
	padding: 15px 40px
	text-align: center
	border: 1px solid $color-darkBlue
	border-radius: 40px
.header
	position: relative
	z-index: 100
	padding: 25px 0 15px
	background: rgba($color-darkGreen, .85)
	color: #fff
	&__wrap
		position: relative
		width: 100%
		display: flex
		align-items: center
	&__logo
		margin-right: 100px
	&__main
	
	&__main-title
			position: relative
			margin-bottom: 10px
			&::after
				content: ''
				display: block
				width: 43%
				height: 1px
				background: rgba($color-Gold, .4)
			h2
				font-family: $font-ui
				font-size: 18px
				color: $color-Gold
				margin-bottom: 10px
	&__menu
		display: flex
	&__link
		color: #fff
		text-decoration: none
		font-family: $font-ui
		font-size: 15px
		margin-right: 25px
	&__tel
		position: absolute
		right: 0
		font-family: $font-second
	&__tel-wrap
		position: relative
		top: 18px
		display: flex
		align-items: flex-end
	&__tel-number
		position: relative
		bottom: 7px
		color: #fff
		font-size: 16px
		font-weight: 600
	&__tel-icon
		display: block
		width: 19px
		height: 18px
		padding: 20px
		margin-right: 10px
		border-radius: 50%
		border: 1px solid #fff
		background-image: url('../img/icon--tel.svg')
		background-repeat: no-repeat
		background-position: center
	&__tel-txt
		position: absolute
		top: 5px
		right: 0
		width: 70%
		text-align: right
		padding-bottom: 5px
		border-bottom: 1px solid rgba($color-Gold, .4)
		font-size: 10px


.hero-img
	position: relative
	width: 100%
	height: 514px
	background-image: url('../img/header-bg.jpg')
	background-position: center
	background-size: cover
	margin-top: -128px


.section
	&__title
		display: flex
		align-items: center
		&--right
			&::before
				content: ''
				position: relative
				right: 0
				top: 4px
				display: inline-block
				width: 100%
				height: 8px
				border-top: 1px solid $color-Gold
				border-bottom: 1px solid $color-Gold
			span
				margin-left: 30px
		&--left
			&::after
				content: ''
				position: relative
				right: 0
				top: 4px
				display: inline-block
				width: 100%
				height: 8px
				border-top: 1px solid $color-Gold
				border-bottom: 1px solid $color-Gold
			span
				margin-right: 30px
		& span
			display: inline-block
			white-space: nowrap

	
.section.about
	background-color: $color-lightXlGray
	background-image: url('../img/bg_pattern_ser.png')
	background-position: center right
	background-repeat: no-repeat
.section.house-territory
	padding-bottom: 0
.about-numbers
	margin-top: 50px
	&__wrap
		display: flex
		align-items: flex-end
		font-family: $font-ui
	&__title
		font-size: 108px
		line-height: 90px
		color: $color-Gold
		margin-right: 10px
	&__txt
		color: $color-lightGray
		font-size: 16px
.about-items
	display: flex
	flex-wrap: wrap
	align-content: space-between
.about-item
	width: 33%
	&__img
		margin-bottom: 5px
	&__txt
		font: 16px $font-ui
		color: $color-darkBlue
.quote
	position: relative
	z-index: 10
	background: #fff
	padding: 30px
	box-shadow: 0px 3px 6px rgba(0, 0, 0, .16)
.house-territory
	&__img
		position: absolute
		top: -110px
		right: 30px
	.quote
		width: 70% 
		margin: 0 0 30px -30px
.house-territory-items
	display: flex
	justify-content: space-around
.house-territory-item
	&__img
		margin-bottom: 10px
	&__txt
		font-family: $font-ui
		color: $color-darkBlue
		font-size: 17px
		text-align: center
.documentation-item
	display: flex
	margin-top: 15px
	&__img
		margin-right: 10px
	&__title
		font-family: $font-ui
		color: $color-darkBlue
		font-size: 17px
.contact
	position: relative
	&__map
		position: absolute
		top: 0
		left: 0
		display: block
		width: 100%
		height: 500px
	&__aside
		position: relative
		z-index: 10
		padding: 40px 40px 40px 30px
		background: #ffffff;
		box-shadow: 0px 1px 5px rgba(0, 0, 0, .2);
		&::before
			content: ''
			display: block;
			position: absolute;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			background: #ffffff;
			box-shadow: 0px 1px 5px rgba(0, 0, 0, .2);
		&::after
			content: ''
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 10px;
			height: 100%;
			background: #ffffff;
	&__desc
		margin-top: 450px
.contact-info
	margin-bottom: 30px
	&__row
		display: flex
		align-items: baseline
	&__img
		position: relative
		top: 1px
		margin-right: 10px
	&__txt
		p
			margin-bottom: 0
.contact-route
	&__btn
		margin: 20px 0 50px

.contact-weather
	&__wrap
		display: flex
		align-items: center
	&__value
		font-family: $font-ui
		color: $color-darkBlue
		font-size: 85px
		margin-right: 15px
	&__icon
		max-width: 100px
		text-align: center
	&__smalltxt
		font-family: $font-ui
		color: rgba($color-darkBlue, .5)
		font-size: 12px






.tabs
	&__caption
		display: flex
		text-decoration: none
		padding: 0 0 20px 30px
		margin-bottom: 20px
		border-bottom: 1px solid $color-lightXGray
		& li
			font-family: $font-ui
			font-size: 17px
			color: $color-lightXGray
			cursor: pointer
			&:first-child
				margin-right: 40px
			&::before
				content: ''
				position: relative
				top: -1px
				display: inline-block
				width: 8px
				height: 8px
				margin-right: 10px
				background-color: $color-lightXGray
				border-radius: 50%
			&.active
				color: $color-darkBlue
				text-decoration: underline
				transition: all .25s ease-in-out
				&::before
					background-color: $color-darkBlue		
	&__content
		display: none
		padding: 0 0 20px 30px
		&.active
			display: block

.footer
	padding: 80px 0
	color: #ffffff
	font-family: $font-second
	background: linear-gradient(to bottom, rgba(1,82,50,1) 0%, rgba(2,8,0,1) 100%)
	&__wrap
		display: flex
		justify-content: space-between
	&__left, &__right
		width: 30%
	&__right
		text-align: right
	&__logo
		width: 40%
		text-align: center
	&__title
		font-size: 15px
		color: $color-Gold
		margin-bottom: 15px
	&__txt
		font-size: 13px
		color: $color-Gold
	&__tel
		font-size: 22px
		font-weight: 600
		margin-bottom: 10px
	&__email
		font-size: 15px
		margin-bottom: 20px
	& .copyright
		margin-top: 40px

.copyright
	display: flex
	align-items: center
	justify-content: flex-end
	font-family: $font-main
	font-weight: lighter
	text-align: left
	opacity: .7
	&__img
		width: 32px
		height: 32px
		margin-right: 10px
	&__title
		color: #F92472
		font-size: 18px
		margin-bottom: 0px
		& span
			color: #F8F8DC
			font-size: 14px
	&__txt
		font-size: 11px
		color: #74705D

.modal-mmenu
	position: fixed
	top: 0
	z-index: 10000
	height: 100%
	width: 100%
	overflow: 
	transition: all .3s ease-in-out
	&__txt
		position: fixed
		top: 0
		bottom: 0
		z-index: 100
		width: 250px
		padding: 30px 0px
		overflow-y: scroll
		background-color: $color-darkGray
	&__bg
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 20;
		background-color: rgba(0,0,0,.3);
	&__tel
		width: 100%
		padding: 15px 15px 15px 30px
		font-size: 21px
		font-weight: bold
		color: #ffffff
	& ul
		margin-bottom: 40px
		& li
			display: flex
		& a
			width: 100%
			margin: 0px 15px
			padding: 15px
			font-size: 18px
			color: #ffffff
			border-bottom: 1px solid #2c3531
			opacity: .5
			transition: all .2s ease-in-out
			&:hover
				opacity: 1
				
.mmenu
	position: relative
	display: flex
	width: 40px
	cursor: pointer
	span
		position: absolute
		display: block
		width: 100%
		height: 3px
		background-color: #ffffff
		transition: all .2s ease-in-out
		&::before, &::after
			content: ''
			display: block
			position: absolute
			width: 100%
			height: 3px
			background-color: #ffffff
			transition: all .2s ease-in-out
		&::before
			top: -10px	
		&::after
			top: 10px
	&--active
		span
			transform: rotate(45deg)
			&::before
				top: 0
				transform: rotate(0)
			&::after
				top: 0
				transform: rotate(90deg)

.visible-lg
	display: none



@import __media.sass