<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		title Document
		link(rel='stylesheet', type='text/css', href='css/style.css')
	body
		h1 22
		p dasd
		section.main
			h2 hi!

		include footer.pug
	