<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Document
		meta(name='description', content='')
		link(rel='stylesheet', type='text/css', href='css/main.css')

	body
		h1 22
		p dasd
		section.main
			h2 hi!

		include footer.pug
	